.portfolio-nav {
  
  border: none;
  margin: 0;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #F5F4FA;
  color: $secondary-color;
  font-weight: 700;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-color;
    transition: $hover;
  }

  
}


.nav-center {
  justify-content: center;
}

.m-n {
  margin-right: 8px;
  margin-bottom: 15px;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;

  @media screen and (min-width:$mobile){
    width: $mobile;
  }

  @media screen and (min-width:$tablet){
    width: $tablet;
    justify-content: center;
    margin-top: 60px;
  }

  @media screen and (min-width:$desctop){
    width: $desctop;
  }
}