.footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: $white-color;
  
}

.bgcolor {
  background-color: #2f303a;
  text-align: center;
}

.footer-address {
  display: inline-block;

  &>.logo {
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 20px;
  }
@media screen and(min-width:$tablet) {
  margin-left: auto;
}
  
}

.text-address {
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: $white-color;
margin-bottom: 8px;
}

.mail-address {
margin-bottom: 8px;
}


.join {
  margin-left: 137px;
  margin-right: 137px;
  margin-top: 56px;
  margin-bottom: 56px;
  color: $white-color;

  @media screen and(min-width:$tablet) {
    margin-left: auto;
    margin-bottom: 60px;
  }
}

.social-footer {
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border-style: none;
  padding: 0;
  margin: 0;
  background-color:rgba(255, 255, 255, 0.1);
  cursor: pointer;
  margin-bottom: 24px;
  margin-left: 10px;

  &:hover {
        background-color: $accent-color;
        transition: $hover;
}
}

.subscribe-section {
  display: inline-block;
}

.subscribe {
  
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $footer-background;
}

.e-mail {
  position: absolute;
  top: 15px;
  left: 16px;

  .subscribe:focus+& {
  color: transparent;

  .subscribe:not(:placeholder-shown)+ & {
  color: transparent;
}
}
}

.e-mail-button {
  position: relative;
  width: 100%;
}

.social-footer-icon {
  width: 20px;
  height: 20px;
  fill: $white-color;
}

.send {
  display: flex;
  align-items: center;
  align-self: center;

  color: $white-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  cursor: pointer;
  
  border: none;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.send-icon {
  
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe {
  width: 450px;
  margin-bottom: 20px;
}

.subscribe .white {
  color: white;
}

.white {
  color: $white-color;
}

.social-links {
  display: flex;
  justify-content: center;
}
